<div class="container">
	<div class="carousel hide-on-small-only">
	  <a class="carousel-item" href="#"><img class="responsive-img" src="assets/ties4.jpg"></a>
	  <a class="carousel-item" href="#"><img class="responsive-img" src="assets/ties5.jpg"></a>
	  <a class="carousel-item" href="#"><img class="responsive-img" src="assets/ties1.jpg"></a>
	</div>

	<script type="text/javascript">
	      $('.carousel').carousel({
	      													duration: 500,
	      													padding: 0,
	      													dist: -500,
	      												});
	      autoplay()
				function autoplay() {
				    $('.carousel').carousel('next');
				    setTimeout(autoplay, 4500);
				}
	</script>
</div>