<div class="navbar-fixed">
  <nav class="nav-extended navbar-color">
      <div class="container nav-wrapper">
        <a href="/" class="brand-logo">My Missionary Box</a>
        <a href="#" data-activates="mobile-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if !user_signed_in? %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path%></li>
          <% else %>
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          <% end %>
          <li><a href="register">Subscribe</a></li>
        </ul>
        <ul id="mobile-out" class="side-nav">
        <% if !user_signed_in? %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
          <li><a href="register">Subscribe</a></li>
          <li><a href="#">Cart</a></li>
          <li><a href="#">What's Inside</a></li>
          <li><a href="#">Customize</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>

      <div class="container nav-content">
        <ul class="tabs tabs-transparent hide-on-small-only">
          <li class="tab"><a class="active?" href="#test1">What's Inside</a></li>
          <li class="tab"><a class="active?" href="#test2">Customize</a></li>
          <li class="tab"><a class="active?" href="#test4">About</a></li>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="small material-icons">shopping_cart</i></a>
        </ul>
        <ul>
        </ul>
      </div>
  </nav>
</div>
</div>