<ul id="slide-out" class="side-nav center-align">
  <h5>Cart</h5>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <li>Cart items will go here</li>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <li>Final price total goes here</li>
  <li>Proceed to checkout button goes here</li>
</ul>

<script type="text/javascript">
    $(".button-collapse").sideNav({
      edge: 'right',
      menuWidth: 300
    });
</script>