@import "materialize";
@import "gritter";
@import "font-awesome";

body {
  background-color: #F0F3BD;
}

.navbar-color {
	background-color: #1A5E63;
}

.page-footer {
  background-color: #1A5E63;
}

nav a.button-collapse {
    display: inline;
    float: right;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
	padding-bottom: 10px;
}

.carousel .carousel-item {
  height: 100%;
  width: 100%;
}

.carousel .carousel-item img {
  width: 100%;
  height: 100%;
}

.carousel {
  margin-top: 0px;
}

.login > .card {
  width: 25rem;
  margin: 0 auto;
  float: none;
}

.card-block {
  text-align: left;
}

.btn-block {
	display: block;
	width: 100%;
}

.card-width-med {
	width: 100%;
}

.btn-small {
  height: 24px;
  line-height: 24px;
  padding: 0 0.5rem;
  font-size: .7em;
}

#devise-link-padding {
	padding-bottom: 5px;
}

.footer-copyright ul {
  display: inline-block;
}

.footer-copyright ul li{
  display: inline-block;
  padding: 0px 25px 0px 25px;
}

.footer-copyright ul li a {
  color: #00BFB2;
}

.waves-input-wrapper {
  width: 100%;
}

.home-btn-color {
  background-color: #C64191;
}

.home-btn-color:hover {
  background-color: #D063A5;
}